
langchain_community
langchain_postgres
langchain_huggingface
langchain_core
langchain
chromadb 
psycopg2
psycopg2-binary

transformers
sentence-transformers

openai
kagglehub
requests

python-dotenv
pandas

huggingface_hub
